/* Cascade Style Sheet for this website */


.entirepage{
    background-color:beige;
}

.forms{
    background-color: brown;
}

.menu{
    background-color: olivedrab;
}

.headers{
    background-color: azure;
}

.footers{
    background-color: black;
    color: white;
}