/* Cascade Style Sheet for this website */


.entirepage{
    width: 800px;
    margin:auto;
}

.forms{
    background-color: brown;
}

.menu{
    background-color: olivedrab;
}

.headers{
    min-height: 48px;
    text-align: center;
}

.footers{
    background-color: black;
    color: white;
}